<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weilan Yu</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Pacifico|Rancho&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Hi+Melody&family=Mrs+Sheppards&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="head-container">
        <img class="top-cloud" src="images/cloud.png" alt="cloud-img">
        <h1>I'm Weilan.</h1>
        <h2>a software engineer</h2>
        <img class="bottom-cloud" src="images/cloud.png" alt="cloud-img">
        <img class="mountain-img" src="images/mountain.png" alt="mountain-img">
    </div>
    <nav id="hamnav">
        <!-- [THE HAMBURGER] -->
        <label class="nav-logo">Weilan Yu</label>
        <label id="hamburger-icon" for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger" />
    
        <!-- [MENU ITEMS] -->
        <div id="hamitems">
            <a href="#">About</a>
            <a href="/projects">Works</a>
            <a href="#">Blog</a>
            <a href="/WeilanYu-Resume.pdf" download="WeilanYu-Resume">Resume</a>
        </div>
    </nav>

    <div class="skill-container">
        <div class="profile">
            <img class="my-profile-img" src="images/weilan.png" alt="weilan's profile image">
            <h2>Hello.</h2>
            <p class="intro">I am a Java web developer based on San Francisco. My main focus is on the back end, however, I have solid understanding on the front end. I enjoy working in team.</p>
        </div>
        <hr>
        <div class="skills">
            <h2>My Skills.</h2>
            <div class="skill-row">
                <img class="java-img" src="images/java.png" alt="java-img">
                <h3>Java</h3>
                <p class="java-skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                    vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
                <img class="html-img" src="images/html-5.png" alt="html-img">
                <h3>HTML5</h3>
                <p class="html-skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
            </div>
            <div class="skill-row">
                <img class="css-img" src="images/css-3.png" alt="css-img">
                <h3>CSS3</h3>
                <p class="css-skill-description">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
            </div>
        </div>
        <hr>
        <div class="contact-me">
            <h2>Get In Touch</h2>
            <h3>Lorem ipsum dolor sit amet, non elit.</h3>
            <p>Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales, tellus donec dui, ornare erat.</p>
            <a class="contact-btn" href="mailto:isweilan@gmail.com">CONTACT ME</a>
        </div>
    </div>

    <div class="bottom-container">
        <a class="footer-link" href="https://www.linkedin.com/in/weilan-yu-70bab31a3/"><i
                class="fab fa-linkedin-in fa-lg"></i></a>
        <a class="footer-link" href="https://github.com/jessieu"><i class="fab fa-github fa-lg"></i></a>
        <a class="footer-link" href="#"><i class="fas fa-blog"></i></a>
        <p class="copyright">© 2020 Weilan Yu.</p>
    </div>

</body>
<script src="https://kit.fontawesome.com/c852dd71e5.js" crossorigin="anonymous"></script>

</html>
