<div class="skills">
    <div class="skill-header">
        <h2>My Skills.</h2>
    </div>
    <div class="skill-row">
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
        <div class="skill-box">
            <div class="skill-title">
                <div class="skill-img">
                    <img src="images/java.png" alt="java-img" class="skill-icon">
                </div>
                <h3>Java</h3>
            </div>
            <p class="skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
                vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
        </div>
    </div>
    <!-- <div class="skill-row">
        <img class="java-img" src="images/java.png" alt="java-img">
        <h3>Java</h3>
        <p class="java-skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
            vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
        <img class="html-img" src="images/html-5.png" alt="html-img">
        <h3>HTML5</h3>
        <p class="html-skill-description">Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
            vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante, ut lorem eros.</p>
    </div>
    <div class="skill-row">
        <img class="css-img" src="images/css-3.png" alt="css-img">
        <h3>CSS3</h3>
        <p class="css-skill-description">Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu, bibendum
            interdum, lacus quis mauris. Curabitur wisi, quisque vel eu, rutrum nam.</p>
    </div> -->
</div>