<div class="col java">
    <img src="images/projects/bookstore.png" alt="java-img">
    <div class="project-title">Online Bookstore</div>
    <div class="project-intro">As an exploration of Java Web I have been working on the idea of e-commerce
        website.
    </div>
    <div class="intro-demo-separator"></div>
    <div class="demo-link-section">
        <ul class="demo-links">
            <!-- <li class="tooltip tooltip-front"><a class="tooltip tooltip-front" href="https://github.com/jessieu"><i
                        class="fas fa-book fa-lg"></i></a>
                </span><span class="tooltiptext tooltiptext-front">Visit Home Page</span>
            </li>
            <li class="tooltip tooltip-back"><a href="https://github.com/jessieu"><i
                        class="fas fa-users-cog fa-lg"></i></i></a>
                <span class="tooltiptext tooltiptext-back">Visit Admin Panel</span>
            </li> -->
            <li class="tooltip tooltip-code">
                <a href="https://github.com/jessieu/BookStore/tree/master/BookStoreWebsite"><i
                        class="fab fa-github fa-lg"></i></a>
                <span class="tooltiptext tooltiptext-code">Source Code</span>
            </li>
            <!-- <li class="tooltip tooltip-detail"><a data-modal-target="#prj-01-modal"><i
                        class="fas fa-info-circle fa-lg show-details"></i></a>
                <span class="tooltiptext tooltiptext-detail">Read More</span></li> -->
        </ul>
    </div>

</div>
<div class="modal" id="prj-01-modal">
    <div class="modal-header">
        <div class="modal-title">Book Store</div>
        <button data-close-button class="close-button">&times;</button>
    </div>
    <div class="detail-container">
        <div class="inner-detail-left">
            <div class="modal-image"><img src="images/projects/bookstore.png" alt="Bookstore Home Page"></div>
            <div class="tech-stack">
                <div class="stack-title">Front End</div>
                <ul class="tech-item-list">
                    <li class="tech-item"><i class="fab fa-html5">HTML</i></li>
                    <li class="tech-item"><i class="fab fa-css3">CSS</i></li>
                    <li class="tech-item"><i class="fab fa-js">JavaScript</i></li>
                </ul>
            </div>
            <div class="modal-image"><img src="images/projects/bookstore-admin.png" alt="Bookstore Admin Page"></div>
            <div class="stack-title">Back End</div>
            <ul class="tech-item-list">
                <li class="tech-item"><i class="fab fa-java fab-lg">Servlet</i></li>
                <li class="tech-item"><i class="fab fa-java fab-lg">JSP</i></li>
                <li class="tech-item"><i class="fas fa-database fab-lg">MySQL</i></li>
                <li class="tech-item"><i class="fas fa-wallet fab-lg">Hibernate</i></li>
            </ul>
        </div>
        <div class="inner-detail-right">
            <div class="bs-front">
                <p>
                </p>
            </div>
            <div class="bs-back">
                <p>
                </p>
            </div>
        </div>
    </div>
</div>
<div id="overlay"></div>